@charset "UTF-8";

a .cap {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}

a.cap_a {
    text-decoration: none;
    color: white;
}

.cap:hover {
    transform: translateY(-5px);
}