@charset "UTF-8";

.cap{
        width: 140px;
        height: 140px;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    .cap:hover{
        background-color: #e0e0e0;
        transform: translateY(-7px);
    }