@charset "UTF-8";

a .cap {
    width: 120px;
    height: 120px;
    background-color: #7E797E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

a.cap_a {
    text-decoration: none;
    color: white;
}

.cap:hover {
    background-color: #0098B3;
    transform: translateY(-5px);
}